:root {
  --red: 	#ad273f;
  --background: #FFFF;
  --shapes: #414361;
  --text-title: #FFF;
  --text-light: #A09CB1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 18px "Poppins", Arial, sans-serif;
  color: #fff;
  background: #2a2d43;
}

input, textarea {
  font-family: "Poppins";
}

.container {
  max-width: 600px;
  min-height: 750px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

button, .checkmark {
  cursor: pointer;
}